.infopic-container {
  display: flex;
  margin-bottom: 25px;
  background-color: #28daf6;
  /* border: 5px black solid; */
}

.about-container {
  width: 80%;
  min-width: 700px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 80px; */
  /* border: 1px black solid; */
  border-radius: 10px;
  box-shadow: 0px 0px 5px #08a4bd;
  padding: 5px;
}

/* h1 {
  text-align: left;
  margin-left: 25px;
} */

.photo {
  width: 35%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo img {
  width: 65%;
  border-radius: 50%;
  object-fit: contain;
  transition: transform 1s ease-in-out;
}

.photo img:hover {
  transform: rotate(360deg);
}

.info {
  width: 65%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info p {
  text-align: left;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: 15px;
}

.technology {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.technology img {
  object-fit: contain;
  max-height: 75px;
  max-width: 75px;
}

.learning-more {
  /* display: flex;
  justify-content: space-evenly; */
  background-color: #01172f;
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.learning-more h3 {
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}

.learn-more-links-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}
.learn-more-link {
  width: 25%;
  border: 1px #01172f solid;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #08a4bd;
}

.learn-more-link:hover {
  box-shadow: 0px 0px 5px white;
  cursor: default;
}

.learn-more-link img {
  max-width: 100px;
  height: 35px;
  object-fit: scale-down;
}

@media screen and (max-width: 600px) {
  .about-container {
    width: 100%;
    min-width: 0;
    border-radius: 0px;
    box-shadow: none;
  }
  .infopic-container {
    flex-direction: column;
    align-items: center;
  }
  .info {
    width: 85%;
  }
  .info p {
    text-align: justify;
  }
  .photo {
    width: 100%;
  }
  .photo img {
    width: 50%;
  }
  .technology img {
    max-height: 90px;
    max-width: 90px;
  }

  .about-container {
    margin-top: 0;
  }
}
